<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.mapapp" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="29" />
	<application android:label="MapApp.Android">
    <!--これ重要-->
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
		<!--これ-->
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="YOUR_API_KEY" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>